.form {
  padding: 10px;
  margin-bottom: 10px;
}

.form_active {
  border: 2px solid #845ec2;
}

.form_deactivated {
  border: 2px solid #e3e3e3;
}

.form__content {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 10px 0;
}

.svg-inline--fa.fa-spinner.fa-w-16{
  height: 4rem;
  width: 48rem;
  color: #008bc5;
  margin: 0 auto;
  margin-bottom: 20px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.fa-spinner {
  animation: spinner 1s linear infinite;
}
