.form__hint {
  position: relative;
}

.form__hint svg {
  position: absolute;
  height: 2rem;
  left: 96px;
}

.form__hint input {
  width: 84%;
  margin-left: 10px;
  line-height: 10px;
  font-size: 14px;
  padding: 6px;
  padding-left: 25px;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
}
